RewriteEngine On
 
RewriteRule ^\.htaccess$ - [F]
 
 RewriteRule ^(phpMyAdmin) - [L]
RewriteRule /phpMyAdmin/ [R=301,L]

RewriteCond %{REQUEST_URI} =""
RewriteRule ^.*$ /public/index.php [NC,L]
 
RewriteCond %{REQUEST_URI} !^/public/.*$
RewriteRule ^(.*)$ /public/$1
 
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^.*$ - [NC,L]
 
RewriteRule ^public/.*$ /public/index.php [NC,L]

